<div class="shirt_design">
  <%= image_tag "shirt_design.jpg", :width => 513%>
</div>

<div class="thumbnails">
  <span><%= image_tag "thumbnail.jpg", :class => 'thumbnail' %></span>
  <span><%= image_tag "thumbnail.jpg", :class => 'thumbnail' %></span>
  <span><%= image_tag "thumbnail.jpg", :class => 'thumbnail' %></span>
  <span><%= image_tag "thumbnail.jpg", :class => 'thumbnail last' %></span>
</div>