<div class="shirt_design">
  <%= image_tag "shirt_design.jpg", :width => 500%>
</div>

<div class="thumbnails">
  <span><%= image_tag "thumbnail.jpg", :width => 100, :class => 'thumbnail' %></span>
  <span><%= image_tag "thumbnail.jpg", :width => 100, :class => 'thumbnail' %></span>
  <span><%= image_tag "thumbnail.jpg", :width => 100, :class => 'thumbnail' %></span>
  <span><%= image_tag "thumbnail.jpg", :width => 100, :class => 'thumbnail' %></span>
</div>