<div class="service">
  <div class="banner">
    <%= image_tag "ci_logo_big.jpg" %>
  </div>
</div>

<div class="quality">
  <div class="banner">
    <%= image_tag "sample_shirt.jpg" %>
  </div>
</div>

<div class="movember">
  <div class="banner">
    <%= image_tag "mo_logo.jpg" %>
  </div>
</div>

<div class="reset_columns"></div>

<div class="service">
  <h3>CustomInk Service</h3>
  <p>CustomInk is printing and individually 
shipping our T-shirts to you with the 
same signature care used to serve their 
one million plus customers. They will  
batch print the shirts twice during the 
month of November and be delivered by 
the following dates.</p>
</div>

<div class="quality">
  <h3>Quality T-Shirts</h3>
  <p>Our T-shirts are printed on American 
Apparel Products.  They are 
Contemporary, lightweight, stylish and 
made in the USA.</p>

  <p>
    <%= link_to 'Uni-sex sizing line-up', 'http://www.customink.com/items/sizing/15000_lineup/standard.htm', :target => "_new" %> <br/>
    <%= link_to 'Ladies sizing line-up', 'http://www.customink.com/items/sizing/30000_lineup/standard.htm', :target => "_new" %>
  </p>
</div>

<div class="movember">
  <h3>The Movember Effect</h3>
  <p>Movember is responsible for the 
sprouting of moustaches on thousands 
of men’s faces, in the US and around the 
world. With their Mo's, these men raise 
vital awareness and funds for men's 
health issues</p>
<p><%=link_to "Learn More", "http://us.movember.com/mens-health/"%></p>
</div>