<div class="column_span">
  <h2>Movember</h2>
  <h1>Team Stachesquatch</h1>
</div>

<div class="left_column">
  <div class="intro_graphic">
    <%= image_tag "stachesquatch_2012.jpg", :width=> "620" %>
  </div>
</div>

<div class="right_column">
  <p>It's Movember and time to make a difference.</p>
  
  <p>Men's health is a cause we're passionate about. Our commitment is to grow a mustache for the month of November and by changing our appearance, raise vital awareness and funds men's health, specifically prostate and testicular cancer initiatives.</p>

  <p>This year we are selling a limited edition T-Shirt to raise funds. With a purchase, you are not only supporting a great cause, but you also get a really cool T-Shirt.</p>

  <p>Thanks,<br/>- Team Stachesquach</p>
</div>

<div class="rest_columns">&nbsp;</div>

<div class="left_column">
  <h2>American Apparel Jersey T-Shirt</h2>
  <div class="shirt_design">
    <%= image_tag "shirt_design.jpg"%>
  </div>

  <span class="thumbnail"><%= image_tag "thumbnail.jpg"%></span>
  <span class="thumbnail"><%= image_tag "thumbnail.jpg"%></span>
  <span class="thumbnail"><%= image_tag "thumbnail.jpg"%></span>
  <span class="thumbnail"><%= image_tag "thumbnail.jpg"%></span>
</div>

<div class="right_column">
  <div class="goal">
    <h1>125</h1>
    shirts sold
  </div>

  <div class="buy">
    <h1>$20</h1>
    <h2>Unisex T-Shirt</h2>
  </div>
  <div class="buy">
    <h1>$20</h1>
    <h2>Ladies T-Shirt</h2>
  </div>
</div>