<div class="column_span">
  <h2>Movember</h2>
  <h1>Team Stachesquatch</h1>
</div>

<div class="design_column">
  <%= render :partial => 'design' %>
</div>

<div class="intro_column">
  <%= render :partial => 'intro' %>
  <%= render :partial => 'goal' %>
  <%= render :partial => 'buy_now' %>
</div>

<div class="reset_columns">&nbsp;</div>

<div class="about_header">About</div>

<div class="about_column">
    <%= render :partial => 'message' %>
</div>

<div class="group_column">
  <div class="intro_graphic">
    <%= image_tag "stachesquatch_2012.jpg", :width=> "535" %>
  </div>
</div>

<div class="about_footer">&nbsp;</div>

<%= render :partial => 'footer' %>