<div class="column_span">
  <h2>Movember</h2>
  <h1>Team Stachequatch</h1>
</div>

<div class="design_column">
  <%= render :partial => 'design' %>
</div>

<div class="intro_column">
  <%= render :partial => 'intro' %>
  <%= render :partial => 'goal' %>
  
  <%= render :partial => 'buy_now' %>
  <!-- <div class="sold_out"><h1>Sold Out!</h1></div> -->
</div>

<div class="reset_columns">&nbsp;</div>

<div class="about_header">The Story</div>

<div class="about_column">
    <%= render :partial => 'message' %>
</div>

<div class="group_column">
  <div class="intro_graphic">
    <%= image_tag "stachesquatch_2012.jpg", :width=> "535" %>
  </div>
</div>

<div class="about_footer">About The Shirts</div>

<%= render :partial => 'footer' %>